<div class="container-fluid">
    <div class="row text-center">
        <h1 class="col-md-12">Carrito</h1>
    </div><!--/div row-->
    <div class="row">
        <div class="col-md-8">
            <div class="row borderBotton" *ngFor="let carrito of appRoot.Dcarrito; let $index=index">
                <div class="col-md-2 text center">
                    <img class="img-fluid" src="//localhost/administracion/{{carrito.imagen}}" alt="{{carrito.imagen}}">
                </div><!--/div:col md 2 center-->
                <div class="col-md-3 text-left center">
                    {{carrito.nombre}}
                </div><!--/div:col md 4 text-left center-->
                <div class="col-md-1 text-left center">
                    <div class="form-group">
                        <label for="cant">Cantidad</label>
                        <input  type="number"
                                name="cant"
                                class="form-control"
                                min="1"
                                max="{{carrito.stock}}"
                                [(ngModel)]="carrito.cantidad"
                                (change)='getSubtotal($index,carrito.precio,carrito.cantidad)'
                                
                        >
                    </div>
                </div><!--/div:col md 2 text-left center-->
                <div class="col-md-2  text-left center">
                    $<span class="text-muted">
                        {{carrito.precio}}
                    </span><small>ARS</small>
                </div><!--/div:col md 2 text-left center-->
                <div class="col-md-2  text-left center">
                        Subtotal:<br>${{carrito.subtotal}}ARS
                </div><!--/div:col md 2 text-left center-->

                <div class="col-md-2  text-left center">
                    <mat-icon class="mat-icon cursorP" (click)='delItem($index)'>
                        delete_forever
                    </mat-icon>
            </div><!--/div:col md 2 text-left center-->
                
            </div><!--/div:row-->
        </div><!--/div:col-md-8-->

        <div class="col-md-4">

        </div><!--/div:col-md-4-->
    </div><!--/div:row-->
</div><!--/div:container-fluid-->