<div class="container-fluid">
    <div class="row text-center">
        <h1 class="col-md-12">Carrito de Compras (Checkout)</h1>
    </div><!--/div row-->
    <div class="row">
        <div class="col-md-8">
            <div class="row" *ngIf="appRoot.Dcarrito.length == 0">
                <h1 class="alert alert-danger col-md-12 text-center">
                    No hay Productos en el carrito
                </h1>
            </div>
            <div class="row borderBotton" *ngFor="let carrito of appRoot.Dcarrito; let $index=index">
                <div class="col-md-2 text center">
                    <img class="img-fluid" src="//localhost/administracion/{{carrito.imagen}}" alt="{{carrito.imagen}}">
                </div><!--/div:col md 2 center-->
                <div class="col-md-3 text-left center">
                    {{carrito.nombre}}
                </div><!--/div:col md 4 text-left center-->
                <div class="col-md-1 text-left center">
                    <div class="form-group">
                        <label for="cant">Cantidad</label>
                        <input  type="number"
                                name="cant"
                                class="form-control"
                                min="1"
                                max="{{carrito.stock}}"
                                [(ngModel)]="carrito.cantidad"
                                (change)='getSubtotal($index,carrito.precio,carrito.cantidad)'
                                
                        >
                    </div>
                </div><!--/div:col md 2 text-left center-->
                <div class="col-md-2  text-left center">
                    $<span class="text-muted">
                        {{carrito.precio}}
                    </span><small>ARS</small>
                </div><!--/div:col md 2 text-left center-->
                <div class="col-md-2  text-left center">
                        Subtotal:<br>${{carrito.subtotal | number}}ARS
                </div><!--/div:col md 2 text-left center-->

                <div class="col-md-2  text-left center">
                    <mat-icon class="mat-icon cursorP" (click)='delItem($index)'>
                        delete_forever
                    </mat-icon>
            </div><!--/div:col md 2 text-left center-->
                
            </div><!--/div:row-->
        </div><!--/div:col-md-8-->

        <!-- VISTA DETALLE-->
        <div class="col-md-4">
            <ul class="list-group" *ngIf="appRoot.Dcarrito.length == 0">
                <li class="list-group-item">
                    <h1 class="col-md-12 text-center center">
                        Carrito Vacio!
                    </h1>
                    <button class="btn btn-info center" [routerLink]="['']">
                        Volver<mat-icon class="mat-icon25">keyboard_return</mat-icon> 
                    </button>
                </li>
            </ul>
            <ul class="list-group" *ngIf="appRoot.Dcarrito.length > 0">
                <li class="list-group-item"><h1 class="col-md-12 text-center text-muted">Resumen de Compra</h1></li>
                <li class="list-group-item text-left">
                    <p>Cantidad de Articulos: {{getTotalItemsWithSubtotal()}} </p>
                    <p>Precio Total <small>(IVA Incluido)</small>: ${{getTotalPriceItemsWithSubtotal() | number}}<small>ARS</small> </p>
                </li>
                <li class="list-group-item">
                    <div class="row center">
                        <div class="col">
                            <label class="text-muted" for="postalC">Ingrese Codigo Postal para Calcular envio!</label>
                        <input  type="number" 
                                class="form-control"
                                name="postalC"
                                [(ngModel)]='codigoPostal'
                                
                        >
                        </div>
                        <div class="col">
                            <button class="btn btn-primary center"
                                (click)='getCostoEnvio(this.codigoPostal)'
                                [disabled]="this.codigoPostal == 0  || this.codigoPostal == null" 
                            >
                             Calcular&nbsp;<mat-icon class="mat-icon25">local_shipping</mat-icon>&nbsp; 
                        </button>
                        </div>
                        <div class="col-md-12 text-left" *ngIf='costoEnvio > 0'>
                            <br/>
                            <p class="text-muted">Costo: <span class="text-dark">${{costoEnvio | number }}ARS</span></p>   
                            <p class="resultadoCostoEnvio"><span class="text-muted">tiempo de envio:</span> {{ tiempoDeEnvioEstimado }}</p>
                        </div>
                    </div><!--/div:row-->
                </li>
                <li class="list-group-item">
                    <div class="row">
                        
                        <br/>
                        <div class="col">
                        <button class="btn btn-info center" [routerLink]="['']">
                            Volver<mat-icon class="mat-icon25">keyboard_return</mat-icon> 
                        </button>
                        </div>
                        <div class="col">
                            <button class="btn btn-success center" [routerLink]="['../finalizarCompra']">
                                Finalizar<mat-icon class="mat-icon25">shopping_cart</mat-icon>
                            </button>
                        </div>
                            
                            
                    </div>
                    
                </li>
            </ul>
        </div><!--/div:col-md-4-->
         <!-- FIN DE VISTA DETALLE-->
    </div><!--/div:row-->
    
</div><!--/div:container-fluid-->