<h2 mat-dialog-title>has Agregado <strong class="red">{{data.producto.nombre}}</strong> correctamente al Carrito</h2>
<mat-dialog-content>
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <img  class="img-fluid" [src]="'//localhost/administracion/' +data.producto.imagen" alt="">
            </div>
            <div class="col-md-2 text-left">
                <h2>{{data.producto.nombre}}</h2>
                <h3>{{data.producto.precio}}</h3>                
            </div>
            <div class="col-md-4 text-left">
                <p>{{data.producto.descripcion}}</p>
                Categoria<span>: <i>{{data.producto.categoria}}</i></span>
            </div>
        </div>
    </div>
    
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-flat-button color="warn" [mat-dialog-close]="true">Seguir Comprando</button>
    <button mat-raised-button color="primary" [mat-dialog-close]="false">Ir al Carrito</button>
</mat-dialog-actions>