
<div class="container-fluid mt-5">
    <div class="row">
        <div class="col-md-8 text-left">
            <mat-horizontal-stepper>
                <mat-step label='Datos Personales'>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae neque iusto temporibus maiores, 
                        excepturi nam ad. Cumque mollitia saepe doloribus, 
                        voluptate odit obcaecati eligendi eveniet. Illum et esse aspernatur voluptatibus!</p>
                    <div>
                        <button mat-raised-button matStepperNext>
                            Direcciones
                        </button>
                    </div>
                </mat-step>
                <mat-step label='Direcciones'>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae neque iusto temporibus maiores, 
                        excepturi nam ad. Cumque mollitia saepe doloribus, 
                        voluptate odit obcaecati eligendi eveniet. Illum et esse aspernatur voluptatibus!</p>
                    <div>
                        <button mat-raised-button matStepperPrevious>Datos Personales</button>
                        <button mat-raised-button matStepperNext>Envio</button>
                    </div>
                </mat-step>
                <mat-step label='Envio'>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae neque iusto temporibus maiores, 
                        excepturi nam ad. Cumque mollitia saepe doloribus, 
                        voluptate odit obcaecati eligendi eveniet. Illum et esse aspernatur voluptatibus!</p>
                    <div>
                        <button mat-raised-button matStepperPrevious>Direcciones</button>
                        <button mat-raised-button matStepperNext>Pago</button>
                    </div>
                </mat-step>
                <mat-step label='Pago'>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia delectus vero quae consequuntur eveniet facere consequatur odit dolores, enim commodi eligendi, at nisi nihil atque molestiae et, minus ducimus quibusdam.</p>
                </mat-step>
            </mat-horizontal-stepper>
        </div>
        <!-- *************************************************************************************-->
        <!-- *************************************************************************************-->
        <!-- VISTA DETALLE-->
        <div class="col-md-4">
            <ul class="list-group" *ngIf="appRoot.Dcarrito.length == 0">
                <li class="list-group-item">
                    <h1 class="col-md-12 text-center center">
                        Carrito Vacio!
                    </h1>
                    <button class="btn btn-info center" [routerLink]="['']">
                        Volver<mat-icon class="mat-icon25">keyboard_return</mat-icon> 
                    </button>
                </li>
            </ul>
            <ul class="list-group" *ngIf="appRoot.Dcarrito.length > 0">
                <li class="list-group-item"><h1 class="col-md-12 text-center text-muted">Resumen de Compra</h1></li>
                <li class="list-group-item text-left">
                    <p>Cantidad de Articulos: {{getTotalItemsWithSubtotal()}} </p>
                    <p>Precio Total <small>(IVA Incluido)</small>: ${{getTotalPriceItemsWithSubtotal() | number}}<small>ARS</small> </p>
                </li>
                <li class="list-group-item">
                    <div class="row center">
                        <div class="col">
                            <label class="text-muted" for="postalC">Ingrese Codigo Postal para Calcular envio!</label>
                        <input  type="number" 
                                class="form-control"
                                name="postalC"
                                [(ngModel)]='codigoPostal'
                                
                        >
                        </div>
                        <div class="col">
                            <button class="btn btn-primary center"
                                (click)='getCostoEnvio(this.codigoPostal)'
                                [disabled]="this.codigoPostal == 0  || this.codigoPostal == null" 
                            >
                             Calcular Envio&nbsp;<mat-icon class="mat-icon25">local_shipping</mat-icon>&nbsp; 
                        </button>
                        </div>
                        <div class="col-md-12 text-left" *ngIf='costoEnvio > 0'>
                            <br/>
                            <p class="text-muted">Costo: <span class="text-dark">${{costoEnvio | number }}ARS</span></p>   
                            <p class="resultadoCostoEnvio"><span class="text-muted">tiempo de envio:</span> {{ tiempoDeEnvioEstimado }}</p>
                        </div>
                    </div><!--/div:row-->
                </li>
                <li class="list-group-item">
                    <div class="row">
                                               <br/>
                        <div class="col">
                        <button class="btn btn-info center" [routerLink]="['../carrito']">
                            Volver<mat-icon class="mat-icon25">keyboard_return</mat-icon> 
                        </button>
                        </div>
                        <div class="col">
                            
                        </div>
                            
                            
                    </div>
                    
                </li>
            </ul>
        </div><!--/div:col-md-4-->
         <!-- FIN DE VISTA DETALLE-->
         <!-- *************************************************************************************-->
         <!-- *************************************************************************************-->

    </div>
</div>
