.img-card{
    width: 66%;
    height: 66%;
}


.spacer {
    flex: 1 1 auto;
  }
.spacerMin {
    flex: 0.05 1 auto;
  }
.cartSpan{
    background: #555;
    border-radius: 20px;
    padding:10px;
    color: whitesmoke;
}