.card{
    width: 18%;
    float: left;
    margin-left: 25px;
}
.img-card{
    width: 66%;
    height: 66%;
}
.clear{
    clear: both;
}
.container{
    text-align: center;
    padding-left: 5%;
    margin: auto;
}
