.card{
    width: 18%;
    float: left;
    margin-left: 25px;
}
.img-card{
    width: 66%;
    height: 66%;
}
.clear{
    clear: both;
}
.container{
    text-align: center;
    padding-left: 5%;
    margin: auto;
}
.spacer {
    flex: 1 1 auto;
  }
.spacerMin {
    flex: 0.05 1 auto;
  }
.cartSpan{
    background: #555;
    border-radius: 15px;
    padding:5px;
    color: whitesmoke;
}